@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ruslan+Display&display=swap');

body {
  height: 100vh;
  background: linear-gradient(#f24d41, #f7bb54);
  font-family: 'Nunito Sans', sans-serif;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

h1.title {
  color: white;
  font-size: 3em;
  text-shadow: 5px 5px black;
}

main.container {
  /* background-color: white; */
  width: 100%;
  height: 80vh;
  padding-left: 15em;
  display: flex;
}

.container div img {
  height: 46.5em;
  border-radius: 3%;
  border: white solid 8px;
  box-shadow: 10px 15px;
}

div.video {
  margin-left: 5em;
  margin-top: 5em;
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe.iframe {
  width: 80%;
  height: 80%;
  border-radius: 5%;
  box-shadow: 10px 10px black;
}

a.link {
  font-size: 2em;
  margin-top: 1em;
  text-shadow: 2px 2px black;
  color: white;
  text-decoration: underline;
  font-weight: 600;
}

a.link:hover {
  transition: all 0.1s;
  color: rgb(192, 192, 192);
  transform: translateY(2px);
}
